version: 0.2

phases:
  install:
    runtime-versions:
      python: 3.11
    commands:
      - pip install --upgrade pip
      - pip install aws-sam-cli

  build:
    commands:
      # Build SAM application locally (no Docker)
      - sam build -t resources.yaml
      
artifacts:
  files:
    # Built SAM artifacts (zipped Lambdas + transformed template)
    - .aws-sam/build/**/*
