version: 0.2

phases:
  build:
    commands:
      - mkdir -p dist
      - zip dist/upload.zip src/Upload_File.py
      - zip dist/s3processor.zip src/S3_Processor.py
      - zip dist/sqsworker.zip src/SQS_Worker.py
      - zip dist/status.zip src/Get_Status.py

artifacts:
  files:
    - dist/**/*
