version: 0.2

phases:
  install:
    runtime-versions:
      python: 3.11
    commands:
      - pip install --upgrade pip
      - pip install aws-sam-cli
  build:
    commands:
      # Build SAM application locally (no Docker)
      - sam build -t src/devops/codepipeline/resources.yaml
  post_build:
  commands:
      - sam deploy \
          --template-file .aws-sam/build/template.yaml \
          --stack-name file-flow-resources-dev \
          --capabilities CAPABILITY_NAMED_IAM \
          --region ap-south-1 \
          --s3-bucket $ARTIFACT_BUCKET \
          --no-confirm-changeset \
          --no-fail-on-empty-changeset


artifacts:
  files:
    - '**/*'
