version: 0.2

phases:
  install:
    runtime-versions:
      python: 3.11
    commands:
      - pip install --upgrade pip
      - pip install aws-sam-cli
      - sam --version

  build:
    commands:
      - echo "Entering SAM template directory"
      - cd src/devops/codepipeline
      - ls -la
      - echo "Running SAM build"
      - sam build --template-file resources.yaml
      - ls -la .aws-sam/build

  post_build:
    commands:
      - echo "Deploying SAM stack"
      - sam deploy
          --template-file .aws-sam/build/resources.yaml
          --stack-name file-flow-resources-dev
          --region ap-south-1
          --s3-bucket file-processing-pipeline-artifacts
          --capabilities CAPABILITY_NAMED_IAM
          --parameter-overrides Environment=dev
          --no-confirm-changeset
          --no-fail-on-empty-changeset

artifacts:
  files:
    - '**/*'
