version: 0.2

phases:
  build:
    commands:
      # Deploy the SAM-built template
      - sam deploy \
          --template-file .aws-sam/build/template.yaml \
          --stack-name file-flow-resources-dev \
          --capabilities CAPABILITY_NAMED_IAM \
          --region ap-south-1 \
          --no-confirm-changeset \
          --no-fail-on-empty-changeset
