AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Core infrastructure for file processing system (SAM version)
Parameters:
  Environment:
    Type: String
Resources:
  FileMetadataTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName:
        Fn::Sub: FileMetadata-${AWS::AccountId}
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
      - AttributeName: fileId
        AttributeType: S
      KeySchema:
      - AttributeName: fileId
        KeyType: HASH
  ProcessingDLQ:
    Type: AWS::SQS::Queue
    Properties:
      QueueName:
        Fn::Sub: file-processing-dlq-${AWS::AccountId}
  ProcessingQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName:
        Fn::Sub: file-processing-main-${AWS::AccountId}
      RedrivePolicy:
        deadLetterTargetArn:
          Fn::GetAtt:
          - ProcessingDLQ
          - Arn
        maxReceiveCount: 5
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName:
        Fn::Sub: lambda-exec-${AWS::AccountId}
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service: lambda.amazonaws.com
          Action: sts:AssumeRole
      Policies:
      - PolicyName: LambdaAWSPolicy
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: Allow
            Action:
            - s3:*
            - sqs:*
            - dynamodb:*
            - logs:*
            - ses:SendEmail
            - ses:SendRawEmail
            Resource: '*'
  UploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName:
        Fn::Sub: file-upload-${AWS::AccountId}
  MyApi:
    Type: AWS::Serverless::Api
    Properties:
      Name:
        Fn::Sub: file-api-${AWS::AccountId}
      StageName: dev
  UploadLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: upload-handler-${AWS::AccountId}
      Handler: Upload_File.lambda_handler
      Runtime: python3.11
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      MemorySize: 128
      Timeout: 3
      CodeUri: s3://file-processing-pipeline-artifacts/740d1f44d51af92de39156366beebb70
      Events:
        ApiUpload:
          Type: Api
          Properties:
            RestApiId:
              Ref: MyApi
            Path: /upload
            Method: POST
  S3ProcessorLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: s3-processor-${AWS::AccountId}
      Handler: S3_Processor.lambda_handler
      Runtime: python3.11
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      MemorySize: 128
      Timeout: 3
      CodeUri: s3://file-processing-pipeline-artifacts/084112655b8e27ccfd5b30621eabe0b3
      Events:
        S3UploadEvent:
          Type: S3
          Properties:
            Bucket:
              Ref: UploadBucket
            Events: s3:ObjectCreated:*
  SQSWorkerLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: sqs-worker-${AWS::AccountId}
      Handler: SQS_Worker.lambda_handler
      Runtime: python3.11
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      MemorySize: 128
      Timeout: 3
      CodeUri: s3://file-processing-pipeline-artifacts/2caca7422b81478e0d86530404c427df
      Events:
        SQSEvent:
          Type: SQS
          Properties:
            Queue:
              Fn::GetAtt:
              - ProcessingQueue
              - Arn
            BatchSize: 10
  StatusLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: status-handler-${AWS::AccountId}
      Handler: Get_Status.lambda_handler
      Runtime: python3.11
      Role:
        Fn::GetAtt:
        - LambdaExecutionRole
        - Arn
      MemorySize: 128
      Timeout: 3
      CodeUri: s3://file-processing-pipeline-artifacts/cdb6c561d3075d536fcb204b98d2060d
      Events:
        ApiStatus:
          Type: Api
          Properties:
            RestApiId:
              Ref: MyApi
            Path: /status/{fileId}
            Method: GET
Outputs:
  UploadApiUrl:
    Value:
      Fn::Sub: https://${MyApi}.execute-api.${AWS::Region}.amazonaws.com/dev/upload
    Description: POST URL for Upload Lambda
  StatusApiUrl:
    Value:
      Fn::Sub: https://${MyApi}.execute-api.${AWS::Region}.amazonaws.com/dev/status/{fileId}
    Description: GET URL for Status Lambda
