  AWSTemplateFormatVersion: "2010-09-09"
  Transform: AWS::Serverless-2016-10-31
  Description: Core infrastructure for file processing system (SAM version)

  Parameters:
    Environment:
      Type: String

  Resources:

    #################################
    # DynamoDB Table
    #################################
    FileMetadataTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: !Sub "FileMetadata-${AWS::AccountId}"
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: fileId
            AttributeType: S
        KeySchema:
          - AttributeName: fileId
            KeyType: HASH


    #################################
    # SQS + DLQ
    #################################
    ProcessingDLQ:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: !Sub "file-processing-dlq-${AWS::AccountId}"

    ProcessingQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: !Sub "file-processing-main-${AWS::AccountId}"
        RedrivePolicy:
          deadLetterTargetArn: !GetAtt ProcessingDLQ.Arn
          maxReceiveCount: 5

    #################################
    # Lambda IAM Role (shared)
    #################################
    LambdaExecutionRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: !Sub "lambda-exec-${AWS::AccountId}"
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service: lambda.amazonaws.com
                Action: sts:AssumeRole

        Policies:
          - PolicyName: LambdaAWSPolicy
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action:
                    - logs:CreateLogGroup
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource: "arn:aws:logs:*:*:*"

                - Effect: Allow
                  Action:
                    - s3:PutObject
                    - s3:GetObject
                  Resource: !Sub "${UploadBucketV2.Arn}/*"

                - Effect: Allow
                  Action:
                    - sqs:SendMessage
                    - sqs:ReceiveMessage
                    - sqs:DeleteMessage
                    - sqs:GetQueueAttributes
                  Resource: !GetAtt ProcessingQueue.Arn

                - Effect: Allow
                  Action:
                    - dynamodb:PutItem
                    - dynamodb:GetItem
                    - dynamodb:UpdateItem
                  Resource: !GetAtt FileMetadataTable.Arn

                - Effect: Allow
                  Action:
                    - ses:SendEmail
                    - ses:SendRawEmail
                  Resource: "*"


    #################################
    # S3 Bucket
    #################################

    ProcessingQueuePolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues:
          - !Ref ProcessingQueue
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service: s3.amazonaws.com
              Action: sqs:SendMessage
              Resource: !GetAtt ProcessingQueue.Arn

    UploadBucketV2:
      Type: AWS::S3::Bucket
      DependsOn: ProcessingQueuePolicy
      Properties:
        BucketName: !Sub "file-upload-s3-bucket-${AWS::AccountId}"
        NotificationConfiguration:
          QueueConfigurations:
            - Event: s3:ObjectCreated:*
              Queue: !GetAtt ProcessingQueue.Arn

    
    #################################
    # API Gateway
    #################################
    MyApi:
      Type: AWS::Serverless::Api
      Properties:
        Name: !Sub "file-api-${AWS::AccountId}" 
        StageName: dev

    #################################
    # Lambda Functions (SAM)
    #################################
    UploadLambda:
      Type: AWS::Serverless::Function
      Properties:
        FunctionName: !Sub "upload-handler-${AWS::AccountId}"
        Handler: Upload_File.lambda_handler
        Runtime: python3.11
        Role: !GetAtt LambdaExecutionRole.Arn
        MemorySize: 128
        Timeout: 3
        CodeUri: ../../src/UploadLambda
        Environment:
          Variables:
            UPLOAD_BUCKET: !Ref UploadBucketV2
            METADATA_TABLE: !Ref FileMetadataTable
            MAX_SIZE_MB: "5"
            ALLOWED_EXTENSIONS: "pdf,doc,txt"
        Events:
          ApiUpload:
            Type: Api
            Properties:
              RestApiId: !Ref MyApi      
              Path: /upload
              Method: POST

    SQSWorkerLambda:
      Type: AWS::Serverless::Function
      Properties:
        FunctionName: !Sub "sqs-worker-${AWS::AccountId}"
        Handler: SQS_Worker.lambda_handler
        Runtime: python3.11
        Role: !GetAtt LambdaExecutionRole.Arn
        MemorySize: 128
        Timeout: 3
        CodeUri: ../../src/SQSWorkerLambda
        Environment:
          Variables:
            METADATA_TABLE: !Ref FileMetadataTable
        Events:
          SQSEvent:
            Type: SQS
            Properties:
              Queue: !GetAtt ProcessingQueue.Arn
              BatchSize: 10

    StatusLambda:
      Type: AWS::Serverless::Function
      Properties:
        FunctionName: !Sub "status-handler-${AWS::AccountId}"
        Handler: Get_Status.lambda_handler
        Runtime: python3.11
        Role: !GetAtt LambdaExecutionRole.Arn
        MemorySize: 128
        Timeout: 3
        CodeUri: ../../src/StatusLambda
        Environment:
          Variables:
            METADATA_TABLE: !Ref FileMetadataTable
        Events:
          ApiStatus:
            Type: Api
            Properties:
              RestApiId: !Ref MyApi      
              Path: /status/{fileId}
              Method: GET
              
  Outputs:
    UploadApiUrl:
      Value: !Sub "https://${MyApi}.execute-api.${AWS::Region}.amazonaws.com/dev/upload"
      Description: "POST URL for Upload Lambda"

    StatusApiUrl:
      Value: !Sub "https://${MyApi}.execute-api.${AWS::Region}.amazonaws.com/dev/status/{fileId}"
      Description: "GET URL for Status Lambda"
