version: 0.2

env:
  variables:
    STACK_NAME: file-flow-resources-dev
    RESET_STACK: "true"   
    AWS_REGION: ap-south-1

phases:
  install:
    runtime-versions:
      python: 3.11
    commands:
      - pip install --upgrade pip
      - pip install aws-sam-cli

  pre_build:
    commands:
      - echo "RESET_STACK=$RESET_STACK"

      - |
        if [ "$RESET_STACK" = "true" ]; then
          echo "⚠️ Deleting stack $STACK_NAME"

          aws cloudformation delete-stack \
            --stack-name $STACK_NAME

          aws cloudformation wait stack-delete-complete \
            --stack-name $STACK_NAME

          echo "✅ Stack deleted"
        else
          echo "ℹ️ Stack deletion skipped"
        fi

  build:
    commands:
      - sam build

  post_build:
    commands:
      - sam deploy \
          --stack-name $STACK_NAME \
          --region $AWS_REGION \
          --capabilities CAPABILITY_NAMED_IAM \
          --no-confirm-changeset
